.home {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  &__logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3)
  }

  &__container {
    background-color: #f0f2f5;
    &--header {
      height: 64px;
      padding: 0 50px;
      color: #000000d9;
      line-height: 64px;
      background-color: #fff;
    }

    &--content {
      background-color: #fff;
      margin: 24px;
    }
  }

}